 <!-- About Section -->
    <section class="aboutus" id="aboutus">
        <div class="container lg-container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="{{site.site-abtimg}}" alt="about us"></img>
                </div>
                <div class="col-lg-6">
                    <h3>Caring for your health. Since 1972</h3>
                    <p>The roots of Shastha group dates back to 1972. The year when Dr. Vijayan Peroth, the elder son
 of Appukkuttan Guruswamikal chose to give an formal
dimension to a medical legacy that beckoned him through 4 generations.
Peroth family has been practicing medicine for ages. The generations beforewere proficient in Kalari,
 Astrology, toxicology, Bhaishajya Kalpana, and related disciplines. Dr.
Vijayan was the first in the family to obtain a formal degree in medicine and eventually spear headed the formal evolution of
Shastha Ayurvedics.
                    </p>
                  <!--  <p>The roots of Shastha group dates back to 1972. The year when Dr. Vijayan Peroth, the elder son
 of Appukkutty Guruswamikal chose to give an formal
dimension to a medical legacy that beckoned him through 4 generations.
Peroth family has been practicing medicine for ages. The generations beforewere proficient in Kalari,
 Astrology, toxicology, Bhaishajya Kalpana, and related disciplines. Dr.
Vijayan was the first in the family to obtain a formal degree in medicine and eventually spear headed the formal evolution of
Shastha Ayurvedics.
                    </p> -->
                </div>
            </div>
        </div>
    </section>
