 <!-- About Section -->
    <section class="aboutus" id="aboutus">
        <div class="container lg-container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="{{site.site-abtimg}}" alt="about us"></img>
                </div>
                <div class="col-lg-6">
                    <h3>Caring for your health. Since 1972</h3>
                    <p>The roots of Shastha dates back to 1972. The year when Dr. Vijayan Peroth, the elder son of Appukkutty Guruswamikal chose to give an institutional dimension to a medical legacy that beckoned him through 4 generations. Peroth family has been practicing medicine for ages. The generations before were proficient in Kalari, Astrology, toxicology, Bhaishajya Kalpana, and related disciplines. Dr. Vijayan was the first in the family to obtain a formal degree in medicine and eventually, spear headed the formal evolution of Shastha Ayurvedics.
                    </p>
                    <p>Shastha Ayurvedics started its operations with a clinic and pharmacy in 1972 at Pannithadam. The mother later incorporated a dedicated manufacturing division for Ayurvedic medicines. The unit currently supplies quality medicines to a host of discerning Ayurveda practitioners across the state.
Sastha group is jointly managed by Dr. Varun Vinayak, son of Dr. Vijayan and postgraduate in Shareera Rachana from Sri Dharmasthala Manjunatheswara College of Ayurveda & Hospital, Hassan (Rajiv Gandhi University of Health Science, Bengaluru). The group has its second fully functional division at Thiruvatra, which is steered by a team of experienced doctors and top-notch treatment facilities.With Ayurveda Chikitasalyam, the group is planning to launch a fleet of Ayurvedic specialty clinics across various centers in Kerala. 
                    </p>
                  <!--  <p>The roots of Shastha group dates back to 1972. The year when Dr. Vijayan Peroth, the elder son
 of Appukkutty Guruswamikal chose to give an formal
dimension to a medical legacy that beckoned him through 4 generations.
Peroth family has been practicing medicine for ages. The generations beforewere proficient in Kalari,
 Astrology, toxicology, Bhaishajya Kalpana, and related disciplines. Dr.
Vijayan was the first in the family to obtain a formal degree in medicine and eventually spear headed the formal evolution of
Shastha Ayurvedics.
                    </p> -->
                </div>
            </div>
        </div>
    </section>
